<div class="margin-top booyah-box col-xs-8 col-xs-offset-2">
    <div class="inner-form col-xs-offset-4">
    <div>
      <h1>Add song lyrics</h1>
      <hr />
      <%= simple_form_for @lyric do |f| %>
        <%= f.input :title %>
        <br />
        <%= f.input :genre %>
        <br />
        <%= f.submit 'Add Song', class: 'btn btn-primary btn-xl' %>
      <% end %>
    </div>
    </div>
</div>