<section class="trending">
  <div class="container">
    <div class="text-center">
        <%= link_to image_tag("fun.jpg", class: 'fun img-responsive'),"http://michaelkulinski.com" %>
        <h2>Hi, I'm Michael!</h2>
        <p class="lead">I created this app to help artists improve their music!</p>
        <p>Let me know what you think - <a href="mailto:me@michaelkulinski.com">Email me!</a></p>
    </div>
  </div>
</section>