<section class="jumbo">
  <div class="container">
    <div class="text-center jumbo-words">
      <h1>Buy and Sell original song lyrics</h1>
        <div class="buttons">
          <div class="col-xs-6 text-right">
            <%= link_to 'Buy Lyrics', lyrics_path, class: 'btn btn-primary btn-xl' %>
          </div>
          <div class="col-xs-6 text-left">
            <%= link_to 'Sell Lyrics', new_lyric_path, class: 'btn btn-primary btn-xl' %>
          </div>
        </div>
    </div>
  </div>
</section><!-- /.container -->
<section class="trending">
  <div class="container">
    <div class="text-center">
      <h2>Checkout Who's Trending?!</h2>
      <p class="lead">List of all of the trending artists.</p>
    </div>
  </div>
</section><!-- /.container -->
<section class="browse">
  <div class="container">
    <div class="text-center">
      <h2>Top Lyrics</h2>
      <p class="lead">List of all of the Lyrics in a table. Sorted by most views.</p>
    </div>
  </div>
</section><!-- /.container -->