<div class="handle card col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 text-center">
    <div class="col-xs-4">
        <%= image_tag 'photo.jpg', class: 'image-responsive user-image' %>
    </div>
</div>