@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

body {
    min-height: 1200px;
    padding-top: 65px;
}
.margin-top {
  margin-top: 100px;
}
.navbar {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
.brand-text {
  // color: #b99d6b;
  font-family: 'Dancing Script', cursive;
  font-weight: 600;
  letter-spacing: -0.3px;
  font-size:32px;
  text-decoration: none;
  margin-top: 10px;
}
.logo {
  margin-right: 15px;
  margin-top: 16px;
}
.navbar-nav {
  margin-top: 15px;
}
.jumbo {
	height: 45em;
	background: url(background.jpg) no-repeat center center;
	background-size: cover;
	color: white;
}
.jumbo-words {
  width: 75%;
  margin: 10% auto;
}
.jumbo-words h1 {
  font-size: 5em;
}
.trending {
	height: 25em;
}
.browse {
	background-color: gray;
	height: 25em;
}
.buttons {
  margin-top: 6em;
}
.btn-primary {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    padding: 1em 1.75em;
    background-color: #f05f40;
    -webkit-font-smoothing: antialiased;
    line-height: 1em;
    margin: 10px 0;
    color: rgba(255,255,255,.8);
    border: none;
    transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #ed431f;
    color: #fff;
    background-color: #ee4b28;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}
