@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Average);


body {
    min-height: 1200px;
    padding-top: 65px;
    background-color: #FAFAFA;
    font-family: 'Fjalla One';
}
h1, h2, h3 {
    font-family: 'Average';
    text-transform: uppercase;
}
.gold {
  color: #b99d6b;
}
.btn a {
  color: rgba(255, 255, 255, 0.8);
}
a:hover {
  text-decoration: none;
}
.margin-top {
  margin-top: 100px;
}
.alert {
  margin-bottom: 0;
}
.navbar {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
.brand-text {
  font-family: 'Dancing Script', cursive;
  font-weight: 600;
  letter-spacing: -0.3px;
  font-size:32px;
  text-decoration: none;
  margin-top: 10px;
}
.logo {
  margin-right: 15px;
  margin-top: 16px;
}
.navbar-nav {
  margin-top: 15px;
}
.jumbo {
	height: 45em;
	background: url(background.jpg) no-repeat center center;
	background-size: cover;
	color: white;
}
.jumbo-words {
  width: 75%;
  margin: 10% auto;
  font-weight: bold;
}
.jumbo-words h1 {
  font-size: 5em;
}
.trending {
	height: 25em;
}
.browse {
	background-color: gray;
	height: 25em;
}
.buttons {
  margin-top: 6em;
}
.btn-primary {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    padding: 1em 1.75em;
    background-color: #f05f40;
    -webkit-font-smoothing: antialiased;
    line-height: 1em;
    margin: 10px 0;
    border: none;
    transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #ed431f;
    color: #fff;
    background-color: #ee4b28;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}
.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top:10px;
  margin-bottom:15px;
  padding:20px;
}
.inner-form {
  width: 30%;
}
td {
  width: 25%;
}
.genre {
  width: 15%;
}
.nav-btn {
    padding: 2px;
    background: #F05F40;
    border: 0;
    border-radius: 2px;
    color: white;
    font-size: 14px;
    line-height: 1em;
    font-weight: 400;
    text-transform: uppercase;
}
.nav-btn:hover, .nav-btn:active, .nav-btn:visited {
    background: #d85539;
    color: #fff;
    text-transform: uppercase;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: rgba(255,255,255,.8);
}
.fun {
  padding-top: 50px;
  margin: 0 auto;
  width: 20%;
  height: 20%;
}
.lyric {
  text-align: center;
}
.lyric .img-responsive {
  margin: 0 auto;
}
#lyric_song_lyrics {
  height:300px;
}
.lyric-heading {
  background-color: #333;
  color: #fff;
}
.lyric-heading h3 {
    margin: 15px 0 0 0;
    padding: 8px;
    font-family: 'Average';
    text-transform: uppercase;
}
.lyric-heading hr {
  padding: 0 0 10px;
  margin: 0 auto;
}
.edit-new-lyrics-heading {
  margin-bottom: 15px;
}
.card {
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #e8e8e8;
  padding: 15px 0;
}
.card a {
    color: #000;
}
.card a:hover {
    color: #f05f40;
}
.handle {
  font-family: 'Fjalla One';
  font-weight: bold;
  font-size: 18px;
}
.short-line {
  font-size: 22px;
  font-weight: bold;
  font-family: 'Average';
  color: #9d9d9d;
}
.long-line {
  font-family: 'Average';
}
.user-image {
  height:50%;
  width: 50%;
  margin: auto 0;
  padding-top: 35px;
}
.service-box {
    margin: 50px auto 0;
    max-width: 400px;
}
@media(min-width:992px) {
    .service-box {
        margin: 20px auto 0;
    }
}
.service-box p {
    margin-bottom: 0;
}
.featured-artists {
    padding: 100px 0 10px 0;
}
.bg-dark {
    color: #fff;
    background-color: #222;
}
.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}
.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(240,95,64,.9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

@media(min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}
.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}
.text-faded {
    color: rgba(255,255,255,.7);
}
hr {
    max-width: 50px;
    border-color: #f05f40;
    border-width: 3px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
}
.artist-gallery a img {
  padding: 0;
  margin: 0;
}
.artist-gallery .caption {
  opacity: 0;
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 25px;
  -webkit-transition: opacity .1s ease-in-out;
}
.artist-gallery .cap-one, .cap-three {
  padding-left: 30%;
}
.artist-gallery .cap-two, .cap-four {
  padding-right: 45%;
}
.artist-gallery:hover .caption {
  opacity: 1;
}
.test {
  height: 800px;
}
.third {
  color: white;
  margin-top: 30px;
  margin-bottom: 15px;
}
.fourth {
  color: white;
  margin-top: 30px;
  margin-bottom: 15px;
}
.caption a {
  font-weight: 700;
  color: #F05F40;
}
.footer {
  display: block;
  width: 100%;
  padding-top: 1.5em;
}
.social {
    font-size: 28px;
    padding: 0;
}
.social li { 
  display: inline; 
}
i { color: #F05F40; }
i:hover{font-size: 32px;}
.footer p {
    color: #333;
}